{{#each this}}
<div class="items-list">
    <a href="{{html_url}}" target="_blank">
    <img src="{{avatar_url}}" alt="{{login}}" class="image">
    <p class="text">{{login}}</p>
    </a>
</div>
{{/each}}